<html>

<head>

<style>
  
  body{
    
    background-color: black;
    
  }
  
  h1{
    
    color: white;
    
  }
</style>
  
</head>

<body>
<div class="container">
<h1>This is the home page!</h1>
</div>
</body>
</html>
<%= link_to 'About', about_path %>