$navbar-default-bg: #212124;

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #0F1223;
  color: #aeaeae;
}

body a{
  color: #fff;
}

body a:hover{
  color:#222;
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #df0000;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('jmbtrnshnt.jpg');
  background-size: cover;
  height: 525px;
  border: 2px solid #aeaeae;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

td {
  padding: 5px;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.description {
  margin-top: 0;
}


.well{
  background-color: black;
  border: 1px solid white;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}