<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://thebuyckbrand.com">The Buyck Brand</a> |
      Byron Buyck -- <a href="mailto:bbuyck@thebuyckbrand.com?Subject=AlphaBlog" target="_top">bbuyck@thebuyckbrand.com</a>
    </small>
    <nav>
      <ul>
        <li><%=link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>